{% extends "base.html" %}
{% load i18n %}

{% block page-header-title %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
        {% trans "Dashboard" %} <small>{% trans "statistics and more" %}</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">{% trans "Home" %}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{% trans "Dashboard" %}</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    {% for data in stats %}
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat {{ data.1 }}">
            <div class="visual">
                <i class="{{ data.2 }}"></i>
            </div>
            <div class="details">
                <div class="number">
                     {{ data.3 }}
                </div>
                <div class="desc">
                     {{ data.0 }}
                </div>
            </div>
{#            <a href="#" class="more">#}
{#            {% trans "View more" %} <i class="m-icon-swapright m-icon-white"></i>#}
{#            </a>#}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}