{% load i18n %}
{% load bootstrap3 %}
{% load url from future %}


<div class="form-info">
    <h2><em>{% trans "Important" %}</em> {% trans "Information" %}</h2>
    <p>Duis autem vel eum iriure at dolor vulputate velit esse vel molestie at dolore.</p>
    <button class="btn btn-default" type="button">More details</button>
</div>