{% load i18n %}
{% load bootstrap3 %}
{% load url from future %}
{% load bookmark_tags %}


<div class="sidebar col-md-3 col-sm-3">
    <h1>{% trans "Quick menu" %}</h1>
    <ul class="list-group margin-bottom-25 sidebar-menu">
        {% if user.is_authenticated %}
        <!--<li class="list-group-item clearfix"><a href="{% url 'userena_profile_list' %}"><i class="fa fa-angle-right"></i> <span>{% trans 'All profiles' %}</span></a></li>-->
        <li class="list-group-item clearfix"><a href="{% url 'userena_profile_detail' user.username %}"><i class="fa fa-angle-right"></i> <span>{% trans 'My account' %} ({{ user.username }})</span></a></li>
        {#% if user.username == profile.user.username %#}
        <li class="list-group-item clearfix"><a href="{% url 'userena_profile_edit' user.username %}"><i class="fa fa-angle-right"></i> {% trans "Edit details" %}</a></li>
        <li class="list-group-item clearfix"><a href="{% url 'userena_password_change' user.username %}"><i class="fa fa-angle-right"></i> {% trans "Change password" %}</a></li>
        <li class="list-group-item clearfix"><a href="{% url 'userena_email_change' user.username %}"><i class="fa fa-angle-right"></i> {% trans "Change email" %}</a></li>
        {#% endif %#}
        <li class="list-group-item clearfix"><a href="{% url 'userena_umessages_list' %}"><i class="fa fa-angle-right"></i> <span>{% trans 'Messages' %}</span></a></li>
        {% bookmark by user as user_bookmark %}
        <li class="list-group-item clearfix"><a href="{% url 'bookmark:bookmark' %}"><i class="fa fa-angle-right"></i><span>{% trans 'Bookmarks' %} ({{user_bookmark|length}})</span></a></li>
        <li class="list-group-item clearfix"><a href="{% url 'userena_signout' %}"><i class="fa fa-angle-right"></i> <span>{% trans 'Signout' %}</span></a></li>
        <!--<li class="list-group-item clearfix"><a href="#"><i class="fa fa-angle-right"></i> Address book</a></li>-->
        <!--<li class="list-group-item clearfix"><a href="#"><i class="fa fa-angle-right"></i> Wish list</a></li>-->
        <!--<li class="list-group-item clearfix"><a href="#"><i class="fa fa-angle-right"></i> Returns</a></li>-->
        {% else %}
        <li class="list-group-item clearfix"><a href="{% url 'userena_signin' %}"><i class="fa fa-angle-right"></i> <span>{% trans 'Signin' %}</span></a></li>
        <li class="list-group-item clearfix"><a href="{% url 'userena_signup' %}"><i class="fa fa-angle-right"></i> <span>{% trans 'Signup' %}</span></a></li>
        <li class="list-group-item clearfix"><a href="{% url 'userena_password_reset' %}"><i class="fa fa-angle-right"></i> <span>{% trans 'Forgot your password?' %}</span></a></li>
        <!--<li class="list-group-item clearfix"><a href="#"><i class="fa fa-angle-right"></i> Newsletter</a></li>-->
        {% endif %}
    </ul>
</div>