{% extends "base.html" %}
{% load i18n %}

{% block page-header-title %}
{% endblock %}

{% block content %}
<style>
    .grey_bg{
        background-color: #f5f5f5;
    }
    .collapse.in{
        display: table-row-group;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
        {% trans "Tracking" %}
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="">{% trans "Home" %}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{% trans "Tracking" %}</a>
            </li>
        </ul>
        <p>{% trans "Data is updated every hour" %}. {% trans "The last update was at: " %}{{ last_refresh }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <h3>{% trans "Events" %}</h3>
        <table class="table table-bordered table-hover" style="border-collapse:collapse;">
            <thead>
                <tr>
                    <td><strong>{% trans "Type" %}</strong></td>
                    <td><strong>{% trans "Today" %}</strong></td>
                    <td><strong>{% trans "Total" %}</strong></td>
                    <td><strong>{% trans "Last entry" %}</strong></td>
                </tr>
            </thead>
            <tbody>
                {% for item in summary_data %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.today }}</td>
                    <td>{{ item.total }}</td>
                    <td>{{ item.last }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        <h3>{% trans "User sessions" %}</h3>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td></td>
                    <td><strong>{% trans "Today" %}</strong></td>
                    <td><strong>{% trans "Total" %}</strong></td>
                    <td><strong>{% trans "Last update" %}</strong></td>
                </tr>
                <tr class="success">
                    <td>{{ session_total.stand }}</td>
                    <td>{{ session_total.today }}</td>
                    <td>{{ session_total.total }}</td>
                    <td>{{ session_total.last }}</td>
                </tr>
                <tr>
                    <td><strong>{% trans "Stand" %}</strong></td>
                    <td><strong>{% trans "Today" %}</strong></td>
                    <td><strong>{% trans "Total" %}</strong></td>
                    <td><strong>{% trans "Last update" %}</strong></td>
                </tr>
            </thead>
            <tbody>
                {% for item in stand_data %}
                <tr>
                    <td>{{ item.stand }}</td>
                    <td>{{ item.today }}</td>
                    <td>{{ item.total }}</td>
                    <td>{{ item.last }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">{% trans "No tracking data for stands." %}</td>
                </tr>
                {% endfor %}
            </tbody>
             <thead>
                <tr>
                    <td><strong>{% trans "OS Info" %}</strong></td>
                    <td><strong>{% trans "Today" %}</strong></td>
                    <td><strong>{% trans "Total" %}</strong></td>
                    <td><strong>{% trans "Last update" %}</strong></td>
                </tr>
            </thead>
            {% for item in mobile_data %}
                <tbody>
                    <tr data-toggle="collapse" data-target="#demo{{ forloop.counter0 }}" class="accordion-toggle">
                        <td>{{ item.os_info }}</td>
                        <td>{{ item.today }}</td>
                        <td>{{ item.total }}</td>
                        <td>{{ item.last }}</td>
                    </tr>
                </tbody>
                 <tbody class="accordion-body collapse" id="demo{{ forloop.counter0 }}">
                    {% for version in item.app_versions %}
                        <tr class="grey_bg">
                            <td>{{ version.app_version }}</td>
                            <td>{{ version.today }}</td>
                            <td>{{ version.total }}</td>
                            <td>{{ version.last }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% empty %}
            <tr>
                <td colspan="4">{% trans "No tracking data for mobile devices." %}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% endblock %}