<style type="text/css" media="screen">
    .page-content {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: auto;
        text-align: center;
        background-color: #C0C0C0;
    }

    #flashContent {
        display: none;
    }
</style>
<script type="text/javascript" src="{{ STATIC_URL}}map/js/swfobject.js"></script>
<script type="text/javascript">
    <!--
    For
    version
    detection, set
    to
    min.required
    Flash
    Player
    version, or
    0(or
    0.0
    .0
    ),
    for no version
    detection. -->
            var
    swfVersionStr = "11";
    <!-- To use express install, set to playerProductInstall.swf, otherwise the empty string. -->
    var xiSwfUrlStr = "${expressInstallSwf}";
    var flashvars = {};
    flashvars.serviceURL = "http://192.162.248.1:7070/lokalizator2/";
    var params = {};
    params.quality = "high";
    params.bgcolor = "#C0C0C0";
    params.allowscriptaccess = "sameDomain";
    params.allowfullscreen = "false";
    var attributes = {};
    attributes.id = "cms";
    attributes.name = "cms";
    attributes.align = "middle";
    swfobject.embedSWF(
            "{{ STATIC_URL}}map/swf/cms.swf", "flashContent",
            "100%", "100%",
            swfVersionStr, xiSwfUrlStr,
            flashvars, params, attributes);
    <!-- JavaScript enabled so display the flashContent div in case it is not replaced with a swf object. -->
    swfobject.createCSS("#flashContent", "display:block;text-align:left;");
</script>

<div id="flashContent">
    <p>
        To view this page ensure that Adobe Flash Player version
        10.0.0 or greater is installed.
    </p>
    <script type="text/javascript">
        var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
        document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='"
        + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>");
    </script>
</div>

<noscript>
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%" id="LokalizatorCMS">
        <param name="movie" value="{{ STATIC_URL}}map/swf/cms.swf"/>
        <param name="quality" value="high"/>
        <param name="bgcolor" value="#C0C0C0"/>
        <param name="allowScriptAccess" value="sameDomain"/>
        <param name="allowFullScreen" value="true"/>
        <!--[if !IE]>-->
                <span>
                <object type="application/x-shockwave-flash" data="{{ STATIC_URL}}map/swf/cms.swf" width="100%"
                        height="100%">
                    <param name="quality" value="high"/>
                    <param name="bgcolor" value="#C0C0C0"/>
                    <param name="allowScriptAccess" value="sameDomain"/>
                    <param name="allowFullScreen" value="true"/>
                    <!--<![endif]-->
                    <!--[if gte IE 6]>-->
                    <p>
                        Either scripts and active content are not permitted to run or Adobe Flash Player version
                        10.0.0 or greater is not installed.
                    </p>
                    <!--<![endif]-->
                    <a href="http://www.adobe.com/go/getflashplayer">
                        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
                             alt="Get Adobe Flash Player"/>
                    </a>
                    <!--[if !IE]>-->
                </object>
                <!--<![endif]-->
    </object>
</noscript>