{% extends "rebate/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">

            <h2>Czy jesteś pewny, że chcesz usunąć ten rekord?</h2>
            <form class="form-horizontal" role="form" method="post" action="">
                {% csrf_token %}
                <div class="form-actions fluid">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn red">Usuń</button>
                        <a href="{% url 'rebate:list' %}" class="btn default">Anuluj</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}