{% extends "rebate/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Rebates list
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <!--<a href="#portlet-config" data-toggle="modal" class="config">-->
                        <!--</a>-->
                        <!--<a href="javascript:;" class="reload">-->
                        <!--</a>-->
                        <!--<a href="javascript:;" class="remove">-->
                        <!--</a>-->
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th class="hidden-xs">
                                Shop
                            </th>
                            <th>
                                Content
                            </th>
                            <th>
                                Program
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Segment
                            </th>
                            <th>
                                Media group
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rebate in object_list %}
                            <tr>
                                <!--<td class="highlight">-->
                                    <!--<div class="success">-->
                                    <!--</div>-->
                                    <!--<a href="{% url 'rebate:update' rebate.pk %}">-->
                                    <!--{{ rebate.program }}</a>-->
                                <!--</td>-->
                                <td class="hidden-xs" width="150">
                                    {% if rebate.image %}
                                        <img src="{{ rebate.image.url }}" width="150" />
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="hidden-xs">
                                     {{ rebate.shop }}
                                </td>
                                <td class="hidden-xs">
                                     {{ rebate.content }}
                                </td>
                                <td class="hidden-xs">
                                     {{ rebate.type.title|default:'-' }}
                                </td>
                                <td class="hidden-xs">
                                     {{ rebate.type.title|default:'-' }}
                                </td>
                                <td class="hidden-xs">
                                     {{ rebate.segment|default:'-' }}
                                </td>

                                <td class="hidden-xs">
                                    {% for group in rebate.groups.all %}
                                        <div>{{ group.title }}</div>
                                    {% empty %}
                                        All
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{% url 'admin:rebate_rebate_change' rebate.pk %}" class="btn default btn-xs purple"><i class="fa fa-edit"></i> Edit </a>
                                    <a href="{% url 'admin:rebate_rebate_delete' rebate.pk %}" class="btn default btn-xs black"> <i class="fa fa-trash-o"></i> Delete </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
{% endblock %}