{% extends 'sizeof_cpanel_v2/base.html' %}
{% load i18n %}


{% block title %}
    <title>{% if DEBUG %}DEV{% else %}PROD {% endif %}: {{ GRAPPELLI_ADMIN_TITLE }}{% if VERSION %}, Version: {{ VERSION }}{% endif %}</title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block style-customizer %}{% endblock %}

{% block navbar-brand %}<a class="navbar-brand" href="/">{% if DEBUG %}<span style="color: red">DEV:</span>{% else %}{% endif %} {{ GRAPPELLI_ADMIN_TITLE }}</a>{% endblock %}

{% block page-header-middle %}
    {% if request.user.is_authenticated %}
        <div style="display: inline; background-color: red;">
            {% include 'parts/system-info.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar-search %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block side-menu %}
    {% include 'parts/side-menu.html' %}
{% endblock %}

{% block navbar-top-links-dropdown-messages %}{% endblock %}

{% block navbar-top-links-dropdown-tasks %}{% endblock %}

{% block navbar-top-links-dropdown-alerts %}{% endblock %}

{% block navbar-top-links-dropdown-user %}
    {% if request.user.is_authenticated %}
        {% include 'parts/navbar-top-links/dropdown-user.html' %}
    {% endif %}
{% endblock %}

{% block page-header-title %}
    {% trans "Main page" %}
{% endblock %}

{% block page-body %}
<div class="col-lg-12">
    {% block content %}
        {% trans "Welcome to in" %} {{ settings.GRAPPELLI_ADMIN_TITLE }}<br/>
    {% endblock %}
</div>
{% endblock %}

{% block container %}
    {{ block.super }}
{% endblock %}

{% block footer-content %}
    Server time: {% now "Y-m-d H:i" %}{% if VERSION %}, Version: {{ VERSION }}{% endif %}
{% endblock %}

{% block ga %}
    {% if GOOGLE_ANALYTICS_UA %}
    {% include 'parts/ga.html' %}
    {% endif %}
{% endblock %}

