{% extends "admin/base.html" %}
{% load i18n grp_tags %}


{% block footer %}
    {% if request.user.is_authenticated %}
        <div id="system-info">
            {% include 'parts/system-info.html' %}
        </div>
    {% endif %}

    <script>
         (function($) {
               $(document).ready(function(){
                    var info = $('#system-info');
                    $('#grp-header').append(info)
                    info.show('slow');
                })
            })(grp.jQuery);
    </script>

    <style>
        #system-info{
            background-color: red; position: relative; top: -76px; left: 260px;
        }
        header#grp-header #grp-navigation {
            height: 50px;
        }
        header#grp-header #grp-navigation ul#grp-user-tools > li a {
            padding: 17px;
        }
        header#grp-header #grp-navigation h1#grp-admin-title {
            padding: 16px 0;
        }
    </style>
{% endblock %}