.btn{
  .sourcesanspro(16px, @light);
}

.btn-sm{
  .sourcesanspro(14px, @light);
}

.btn-primary {
  border: 1px solid #EDEDED;
  color: #666666;
  background: none repeat scroll 0% 0% transparent;
  padding: 1px 13px;
  text-transform: uppercase;
    &:focus,
    &:hover,
    &:active{
        background-color: #A8AEB3;
        color: @white;
    }
}