.margin-top-0 {  margin-top: 0px;  }
.margin-top-5 {  margin-top: 5px;  }
.margin-top-10 {  margin-top: 10px; }
.margin-top-15 {  margin-top: 15px;  }
.margin-top-20 {  margin-top: 20px;  }
.margin-top-25 {  margin-top: 25px;  }

.margin-top--25 {  margin-top: -25px;  }

.margin-top-md-0 {  @media(@md){ margin-top: 0px;}  }
.margin-top-md-5 {  @media(@md){ margin-top: 5px;}  }
.margin-top-md-10 {  @media(@md){ margin-top: 10px;}  }
.margin-top-md-15 {  @media(@md){ margin-top: 15px;}  }
.margin-top-md-20 {  @media(@md){ margin-top: 20px;}  }
.margin-top-md-25 {  @media(@md){ margin-top: 25px;}  }

.margin-top-sm-0 {  @media(@sm){ margin-top: 0px;}  }
.margin-top-sm-5 {  @media(@sm){ margin-top: 5px;}  }
.margin-top-sm-10 {  @media(@sm){ margin-top: 10px;}  }
.margin-top-sm-15 {  @media(@sm){ margin-top: 15px;}  }
.margin-top-sm-20 {  @media(@sm){ margin-top: 20px;}  }
.margin-top-sm-25 {  @media(@sm){ margin-top: 25px;}  }

.margin-top-xs-0 {  @media(@xs){ margin-top: 0px;}  }
.margin-top-xs-5 {  @media(@xs){ margin-top: 5px;}  }
.margin-top-xs-10 {  @media(@xs){ margin-top: 10px;}  }
.margin-top-xs-15 {  @media(@xs){ margin-top: 15px;}  }
.margin-top-xs-20 {  @media(@xs){ margin-top: 20px;}  }
.margin-top-xs-25 {  @media(@xs){ margin-top: 25px;}  }

.margin-bottom-0 {  margin-bottom: 0px;  }
.margin-bottom-5 {  margin-bottom: 5px;  }
.margin-bottom-10 {  margin-bottom: 10px; }
.margin-bottom-15 {  margin-bottom: 15px;  }
.margin-bottom-20 {  margin-bottom: 20px;  }
.margin-bottom-25 {  margin-bottom: 25px;  }

.margin-bottom-md-0 {  @media(@md){ margin-bottom: 0px;}  }
.margin-bottom-md-5 {  @media(@md){ margin-bottom: 5px;}  }
.margin-bottom-md-10 {  @media(@md){ margin-bottom: 10px;}  }
.margin-bottom-md-15 {  @media(@md){ margin-bottom: 15px;}  }
.margin-bottom-md-20 {  @media(@md){ margin-bottom: 20px;}  }
.margin-bottom-md-25 {  @media(@md){ margin-bottom: 25px;}  }

.margin-bottom-sm-0 {  @media(@sm){ margin-bottom: 0px;}  }
.margin-bottom-sm-5 {  @media(@sm){ margin-bottom: 5px;}  }
.margin-bottom-sm-10 {  @media(@sm){ margin-bottom: 10px;}  }
.margin-bottom-sm-15 {  @media(@sm){ margin-bottom: 15px;}  }
.margin-bottom-sm-20 {  @media(@sm){ margin-bottom: 20px;}  }
.margin-bottom-sm-25 {  @media(@sm){ margin-bottom: 25px;}  }

.margin-bottom-xs-0 {  @media(@xs){ margin-bottom: 0px;}  }
.margin-bottom-xs-5 {  @media(@xs){ margin-bottom: 5px;}  }
.margin-bottom-xs-10 {  @media(@xs){ margin-bottom: 10px;}  }
.margin-bottom-xs-15 {  @media(@xs){ margin-bottom: 15px;}  }
.margin-bottom-xs-20 {  @media(@xs){ margin-bottom: 20px;}  }
.margin-bottom-xs-25 {  @media(@xs){ margin-bottom: 25px;}  }


.margin-bottom-40 {
  margin-bottom: 40px;
}

.noindent {
  padding-left: 0px !important;
}

.noafter {  padding-right: 0px !important; }
.noafter-md {  @media(@md){padding-right: 0px !important; }}
.noafter-sm {  @media(@sm){padding-right: 0px !important; }}
.noafter-xs {  @media(@xs){padding-right: 0px !important; }}

.nopadding {
  padding: 0px !important;
}

.uppercase {
  text-transform: uppercase;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.ac {
  text-align: center;
}
.vc {
  vertical-align: middle;
}

.max-width-lg{
  width: 100%;
}
.max-width-md{
  @media(@md){
    width: 100%;
  }
}.max-width-sm{
  @media(@sm){
    width: 100%;
  }
}.max-width-xs{
  @media(@xs){
    width: 100%;
  }
}
