.acaslonpro(@size: 14px, @weight: @regular, @style: normal){
  font-family: 'ACaslonPro';
  font-size: @size;
  font-weight: @weight;
  font-style: @style;
}

.sourcesanspro(@size: 14px, @weight: @regular, @style: normal){
  font-family: 'SourceSansPro';
  font-size: @size;
  font-weight: @weight;
  font-style: @style;
}

.myriadpro(@size: 14px){
  font-family: 'MyriadPro';
  font-size: @size;
}

.chaparralpro(@size: 14px){
  font-family: 'ChaparralPro';
  font-size: @size;
}

