

body, html, a, p, div, strong, li, em, table, td, h1, h2, h3, h4, h5, h6, input, select, option {
  font-family: 'SourceSansPro';
  font-weight: 300;
}

/* BUTTONS, LINKS */
a:hover, a:active, a:focus{
  color: @blue;
}
.btn-primary {
  background-color: @blue;
  color: @black;
}