@regular: normal;
@extralight: 100;
@light: 300;
@semibold: 600;
@bold: 700;
@fontblack: 900;


@blue: #44dccf;
@gray: #808080;
@gray2: #636363;
@gray3: #666666;
@gray4: #bababa;
@black: #000000;
@black2: #141414;
@whitegray: #efefef;
@white: #ffffff;
@gray2: #b2b2b2;
@gray-vline: #747474;


@screen-xs-max: 767px;
@screen-sm-max: 991px;
@screen-md-max: 1199px;

@xs: ~'max-width: @{screen-xs-max}';
@sm: ~'max-width: @{screen-sm-max}';
@md: ~'max-width: @{screen-md-max}';
