{% load i18n %}

{% url 'dashboard:home' as home_url %}
{% url 'admin:index' as admin_url %}
{% url 'tracking:summary' as tracking_url %}


<ul class="page-sidebar-menu" data-auto-scroll="false" data-auto-speed="200">
  <li class="start {% if request.get_full_path == home_url %}active{% endif %}">
    <a href="{{ home_url }}">
      <i class="fa fa-home"></i>
      <span class="title">{% trans "Main page" %}</span>
      <span class="selected"></span>
    </a>
  </li>

  {% comment %}
    {% if perms.app.check_card %}
    <li {% if active == 'check-card' %}class="active"{% endif %}>
        <a href="{% url 'operator:check-card' %}"><i class="fa fa-user fa-fw"></i> {% trans "New member"%}</a>
    </li>
    {% endif %}

    {% if perms.app.check_winning %}
    <li {% if active == 'check-winning' %}class="active"{% endif %}>
        <a href="{% url 'operator:check-winning' %}"><i class="fa fa-edit fa-fw"></i> {% trans "Winning check" %}</a>
    </li>
    {% endif %}

    {% if perms.app.rabatomat_statistics %}
    <li {% if active == 'current-stats' %}class="active"{% endif %}>
        <a href="{% url 'manager:current-stats' %}"><i class="fa fa-table fa-fw"></i> {% trans "Current statistics" %}</a>
    </li>
    {% endif %}

    {% if perms.app.daily_statistics %}
    <li {% if active == 'daily-stats' %}class="active"{% endif %}>
        <a href="{% url 'manager:daily-stats' %}"><i class="fa fa-bar-chart-o"></i> {% trans "Daily statistics" %}</a>
    </li>
    {% endif %}

    {% if user.is_authenticated %}
    <li {% if active == 'rebate' %}class="active"{% endif %}>
        <a href="javascript:;">
        <i class="fa fa-cogs"></i>
        <span class="title">{% trans "Rebates" %}</span>
        <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{% url 'rebate:list' %}">
                <i class="fa fa-gift"></i>
                {% trans "Rebates list" %}</a>
            </li>
            <li>
                <a href="{% url 'admin:rebate_rebate_add' %}">
                <i class="fa fa-location-arrow"></i>
                {% trans "Create rebate" %}</a>
            </li>
        </ul>
    </li>

    <li {% if active == 'shop' %}class="active"{% endif %}>
        <a href="javascript:;">
        <i class="fa fa-shopping-cart"></i>
        <span class="title">{% trans "Mall" %}</span>
        <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{% url 'admin:shop_shop_changelist' %}">
                <i class="fa fa-sitemap"></i>
                {% trans "Shops" %}</a>
            </li>
            <li>
                <a href="{% url 'admin:shop_category_changelist' %}">
                <i class="fa fa-leaf"></i>
                {% trans "Categories" %}</a>
            </li>
            <li>
                <a href="{% url 'shop:seller_list' %}">
                <i class="fa  fa-users"></i>
                {% trans "Sellers" %}</a>
            </li>
        </ul>
    </li>

    <li {% if active == 'verifier' %}class="active"{% endif %}>
        <a href="javascript:;">
        <i class="fa fa-tags"></i>
        <span class="title">{% trans "Verifiers" %}</span>
        <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{% url 'verifier:list' %}">
                <i class="fa fa-tablet"></i>
                {% trans "Devices list"%}</a>
            </li>
            <li>
                <a href="{% url 'admin:verifier_verifier_add' %}">
                <i class="fa fa-plus-square"></i>
                {% trans "Add device"%}</a>
            </li>
        </ul>
    </li>

    <li >
        <a href="javascript:;">
        <i class="fa fa-bullhorn"></i>
        <span class="title">{% trans "Campaings" %}</span>
        <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{% url 'admin:app_list' 'loyalty' %}">
                <i class="fa fa-thumbs-o-up"></i>
                {% trans "Loyalty programs"%}</a>
            </li>
        </ul>
    </li>

    <li >
        <a href="javascript:;">
        <i class="fa fa-signal"></i>
        <span class="title">{% trans "Analytics"%}</span>
        <span class="arrow "></span>
        </a>
    </li>

    <li >
        <a href="javascript:;">
        <i class="fa fa-gear"></i>
        <span class="title">{% trans "Settings"%}</span>
        <span class="arrow "></span>
        </a>
    </li>
    {% endif %}
    {% endcomment %}

  {% if user.is_superuser %}
    <li class="{% if request.get_full_path == tracking_url %}active{% endif %}">
      <a href="{{ tracking_url }}">
        <i class="fa fa-bar-chart-o"></i>
        <span class="title">{% trans "Tracking " %}</span>
        <span class="selected"></span>
      </a>
    <li {% if active == 'tags:import-create' %}class="active"{% endif %}>
      <a href="{% url 'tags:import-create' %}"><i class="fa fa-bar-chart-o"></i> Import tags</a>
    </li>

    <li>
      <a href="{% url 'admin:index' %}"><i class="fa fa-desktop"></i> {% trans "Administration" %}</a>
    </li>

    <li>
      <a href="/cache/tools/"><i class="fa fa-bar-chart-o"></i> {% trans "Cache" %}</a>
    </li>
    <li>

      <a href="/promotions/"><i class="fa fa-bar-chart-o"></i> {% trans "Synchronization" %}</a>

    </li>
  {% endif %}

  {#    {% if perms.app.users_activity %}#}
  {#    <li>#}
  {#        <a href="{% url 'manager:user-activity' %}"><i class="fa fa-user-md fa-fw"></i> Aktywność użytkowników</a>#}
  {#    </li>#}
  {#    {% endif %}#}
  {#    {% if perms.app.recurrent_actions %}#}
  {#    <li>#}
  {#        <a href="{% url 'manager:recurrent-actions' %}"><i class="fa fa-repeat fa-fw"></i> Wyniki akcji nawrotowych</a>#}
  {#    </li>#}
  {#    {% endif %}#}
</ul>