{% load i18n %}

<style>
    header#grp-header{
        /* https://techcave.atlassian.net/browse/GS-144 */
        height: 0 !important;
    }
    .system-info{
        float: left;
        font-size: 11px;
        left: 224px;
        position: relative;
        top: 3px;
        width: 50%;
    }
    .system-info tr:first-child{
        border-bottom: 1px solid black;
    }
    .system-info td{
        padding: 2px 50px 2px 2px;
        border-right: 1px solid black;
    }
    .green-haze{
        background-color: #44b6ae;
    }
    .red-intense{
        background-color: red;
    }
    .page-header.navbar .page-logo {
        width: auto;
    }
    .red{
        color: red;
    }
</style>
<table class="system-info {% if DEBUG %}red-intense{% else %}green-haze {% endif %}">
    <tr>
        <td>Environment</td>
        <td>Server time</td>
        <td>Remote address</td>
        <td>Server name</td>
        <td>Current database</td>
    </tr>
    <tr>
        <td>{{ SETTINGS_MODULE }} </td>
        <td>{% now "Y-m-d H:i" %}</td>
        <td>{{ request.META.REMOTE_ADDR }}</td>
        <td>{{ request.META.SERVER_NAME }}</td>
        <td>{{ DATABASES.default.NAME }}@{{ DATABASES.default.HOST }}</td>
    </tr>
</table>