{% extends "base.html" %}
{% load i18n %}
{% load cache %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
        {% trans "Dashboard" %} <small>{% trans "statistics and more" %}</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">{% trans "Home" %}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{% trans "Dashboard" %}</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    {% for data in stats %}
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat {{ data.1 }}">
            <div class="visual">
                <i class="{{ data.2 }}"></i>
            </div>
            <div class="details">
                <div class="number">
                     {{ data.3 }}
                </div>
                <div class="desc">
                     {{ data.0 }}
                </div>
            </div>
            <a href="#" class="more">
            View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row ">
    <div class="col-md-6 col-sm-6">
        <div class="portlet box purple-wisteria">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-calendar"></i>General Stats
                </div>
                <div class="actions">
                    <a class="btn btn-sm btn-default easy-pie-chart-reload" href="javascript:;">
                    <i class="fa fa-repeat"></i> Reload </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="easy-pie-chart">
                            <div data-percent="55" class="number transactions">
                                <span>
                                +55 </span>
                                %
                            <canvas height="75" width="75"></canvas></div>
                            <a href="#" class="title">
                            Transactions <i class="m-icon-swapright"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm">
                    </div>
                    <div class="col-md-4">
                        <div class="easy-pie-chart">
                            <div data-percent="85" class="number visits">
                                <span>
                                +85 </span>
                                %
                            <canvas height="75" width="75"></canvas></div>
                            <a href="#" class="title">
                            New Visits <i class="m-icon-swapright"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm">
                    </div>
                    <div class="col-md-4">
                        <div class="easy-pie-chart">
                            <div data-percent="46" class="number bounce">
                                <span>
                                -46 </span>
                                %
                            <canvas height="75" width="75"></canvas></div>
                            <a href="#" class="title">
                            Bounce <i class="m-icon-swapright"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="portlet box red-sunglo">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-calendar"></i>Server Stats
                </div>
                <div class="tools">
                    <a class="collapse" href="">
                    </a>
                    <a class="config" data-toggle="modal" href="#portlet-config">
                    </a>
                    <a class="reload" href="">
                    </a>
                    <a class="remove" href="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="sparkline-chart">
                            <div id="sparkline_bar" class="number"><canvas style="display: inline-block; vertical-align: top; width: 113px; height: 55px;" width="113" height="55"></canvas></div>
                            <a href="#" class="title">
                            Network <i class="m-icon-swapright"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm">
                    </div>
                    <div class="col-md-4">
                        <div class="sparkline-chart">
                            <div id="sparkline_bar2" class="number"><canvas style="display: inline-block; vertical-align: top; width: 107px; height: 55px;" width="107" height="55"></canvas></div>
                            <a href="#" class="title">
                            CPU Load <i class="m-icon-swapright"></i>
                            </a>
                        </div>
                    </div>
                    <div class="margin-bottom-10 visible-sm">
                    </div>
                    <div class="col-md-4">
                        <div class="sparkline-chart">
                            <div id="sparkline_line" class="number"><canvas style="display: inline-block; vertical-align: top; width: 100px; height: 55px;" width="100" height="55"></canvas></div>
                            <a href="#" class="title">
                            Load Rate <i class="m-icon-swapright"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet solid bordered grey-cararra">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bar-chart-o"></i>Site Visits
                </div>
                <div class="tools">
                    <div data-toggle="buttons" class="btn-group">
                        <label class="btn grey-steel btn-sm active">
                        <input type="radio" id="option1" class="toggle" name="options">New</label>
                        <label class="btn grey-steel btn-sm">
                        <input type="radio" id="option2" class="toggle" name="options">Returning</label>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div id="site_statistics_loading" style="display: none;">
                    <img alt="loading" src="../../assets/admin/layout/img/loading.gif">
                </div>
                <div class="display-none" id="site_statistics_content" style="display: block;">
                    <div class="chart" id="site_statistics" style="padding: 0px; position: relative;">
                    <canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 759px; height: 300px;" width="759" height="300"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; max-width: 84px; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 285px; left: 10px; text-align: center;">02/2013</div><div style="position: absolute; max-width: 84px; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 285px; left: 99px; text-align: center;">03/2013</div><div style="position: absolute; max-width: 84px; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 285px; left: 187px; text-align: center;">04/2013</div><div style="position: absolute; max-width: 84px; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 285px; left: 276px; text-align: center;">05/2013</div><div style="position: absolute; max-width: 84px; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 285px; left: 365px; text-align: center;">06/2013</div><div style="position: absolute; max-width: 84px; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 285px; left: 453px; text-align: center;">07/2013</div><div style="position: absolute; max-width: 84px; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 285px; left: 542px; text-align: center;">08/2013</div><div style="position: absolute; max-width: 84px; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 285px; left: 630px; text-align: center;">09/2013</div><div style="position: absolute; max-width: 84px; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 285px; left: 719px; text-align: center;">10/2013</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 273px; left: 19px; text-align: right;">0</div><div style="position: absolute; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 220px; left: 1px; text-align: right;">1000</div><div style="position: absolute; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 166px; left: 1px; text-align: right;">2000</div><div style="position: absolute; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 113px; left: 1px; text-align: right;">3000</div><div style="position: absolute; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 59px; left: 1px; text-align: right;">4000</div><div style="position: absolute; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 6px; left: 1px; text-align: right;">5000</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 759px; height: 300px;" width="759" height="300"></canvas></div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet solid grey-cararra bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bullhorn"></i>Revenue
                </div>
{#                <div class="tools">#}
{#                    <div class="btn-group pull-right">#}
{#                        <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="btn grey-steel btn-sm dropdown-toggle" href="">#}
{#                        Filter <span class="fa fa-angle-down">#}
{#                        </span>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu pull-right">#}
{#                            <li>#}
{#                                <a href="javascript:;">#}
{#                                Q1 2014 <span class="label label-sm label-default">#}
{#                                past </span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="javascript:;">#}
{#                                Q2 2014 <span class="label label-sm label-default">#}
{#                                past </span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="active">#}
{#                                <a href="javascript:;">#}
{#                                Q3 2014 <span class="label label-sm label-success">#}
{#                                current </span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="javascript:;">#}
{#                                Q4 2014 <span class="label label-sm label-warning">#}
{#                                upcoming </span>#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="portlet-body">
                <div id="site_activities_loading" style="display: none;">
                    <img alt="loading" src="../../assets/admin/layout/img/loading.gif">
                </div>
                <div class="display-none" id="site_activities_content" style="display: block;">
                    <div style="height: 228px; padding: 0px; position: relative;" id="site_activities">
                    <canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 759px; height: 228px;" width="759" height="228"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; max-width: 75px; font: small-caps 400 10px/18px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 209px; left: 21px; text-align: center;">DEC</div><div style="position: absolute; max-width: 75px; font: small-caps 400 10px/18px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 209px; left: 101px; text-align: center;">JAN</div><div style="position: absolute; max-width: 75px; font: small-caps 400 10px/18px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 209px; left: 181px; text-align: center;">FEB</div><div style="position: absolute; max-width: 75px; font: small-caps 400 10px/18px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 209px; left: 259px; text-align: center;">MAR</div><div style="position: absolute; max-width: 75px; font: small-caps 400 10px/18px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 209px; left: 340px; text-align: center;">APR</div><div style="position: absolute; max-width: 75px; font: small-caps 400 10px/18px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 209px; left: 418px; text-align: center;">MAY</div><div style="position: absolute; max-width: 75px; font: small-caps 400 10px/18px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 209px; left: 500px; text-align: center;">JUN</div><div style="position: absolute; max-width: 75px; font: small-caps 400 10px/18px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 209px; left: 581px; text-align: center;">JUL</div><div style="position: absolute; max-width: 75px; font: small-caps 400 10px/18px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 209px; left: 658px; text-align: center;">AUG</div><div style="position: absolute; max-width: 75px; font: small-caps 400 10px/18px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 209px; left: 740px; text-align: center;">SEP</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 197px; left: 19px; text-align: right;">0</div><div style="position: absolute; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 149px; left: 7px; text-align: right;">500</div><div style="position: absolute; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 100px; left: 1px; text-align: right;">1000</div><div style="position: absolute; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 52px; left: 1px; text-align: right;">1500</div><div style="position: absolute; font: small-caps 400 10px/14px &quot;Open Sans&quot;,sans-serif; color: rgb(111, 123, 138); top: 3px; left: 1px; text-align: right;">2000</div></div></div><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 759px; height: 228px;" width="759" height="228"></canvas></div>
                </div>
                <div style="margin: 20px 0 10px 30px">
                    <div class="row">
{#                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">#}
{#                            <span class="label label-sm label-success">#}
{#                            Revenue: </span>#}
{#                            <h3>$13,234</h3>#}
{#                        </div>#}
{#                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">#}
{#                            <span class="label label-sm label-info">#}
{#                            Tax: </span>#}
{#                            <h3>$134,900</h3>#}
{#                        </div>#}
{#                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">#}
{#                            <span class="label label-sm label-danger">#}
{#                            Shipment: </span>#}
{#                            <h3>$1,134</h3>#}
{#                        </div>#}
                        <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                            <span class="label label-sm label-warning">
                            Coupons: </span>
                            <h3>235090</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

{% endblock %}