{% extends "base.html" %}
{% load i18n %}

{% block page-header-title %}
{% endblock %}

{% block content %}

  <table style="width:100%">
    <tr>
      <th>
        <a href="http://{{ site_url }}/admin/promotion/promotion/">
          <div class="col-lg-9 col-md-3 col-sm-6 col-xs-12" style="width: 400px; padding-left: 0;">
            <div class="dashboard-stat green-haze">
              <div class="visual">
                <i class="fa fa-smile-o"></i>
              </div>
              <div class="details">
                <div class="number">
                  {{ promotions }}
                </div>
                <div class="desc">
                  Promotions
                </div>
              </div>
            </div>
          </div>
        </a>
      </th>
      <th>
        <a href="http://{{ site_url }}/admin/news/news/">
          <div class="col-lg-9 col-md-3 col-sm-6 col-xs-12" style="width: 400px; padding-left: 0;">
            <div class="dashboard-stat red-pink">
              <div class="visual">
                <i class="fa fa-rss"></i>
              </div>
              <div class="details">
                <div class="number">
                  {{ news }}
                </div>
                <div class="desc">
                  News
                </div>
              </div>
            </div>
          </div>
        </a>
      </th>
    </tr>
    <tr>
      <td>Source url: <a href="{{ promo_url }}"><span style="padding-left: 1em">{{ promo_url }}</span></a></td>
      <td>Source url: <a href="{{ news_url }}"><span style="padding-left: 1em">{{ news_url }}</span></a></td>
    </tr>
    <tr>
      <td>API endpoint: <a href="http://{{ site_url }}/api/promotion/list/"><span style="padding-left: 1em">http://{{ site_url }}/api/promotion/list/</span></a>
      </td>
      <td>API endpoint: <a href="http://{{ site_url }}/api/news/list/"><span style="padding-left: 1em">http://{{ site_url }}/api/news/list/</span></a>
      </td>
    </tr>
{#    <tr>#}
{#      <td>Fast API endpoint: <a href="http://{{ site_url }}/api/promotion/list/simple/"><span#}
{#          style="padding-left: 1em">http://{{ site_url }}/api/promotion/list/simple/</span></a>#}
{#      </td>#}
{#      <td>Fast API endpoint: <a href="http://{{ site_url }}/api/news/list/simple/"><span#}
{#          style="padding-left: 1em">http://{{ site_url }}/api/news/list/simple/</span></a>#}
{#      </td>#}
{#    </tr>#}
    <tr>
      <td>
        <form action="/promotions/" method="post">
          {% csrf_token %}
          <input type="hidden" name="type" value="promo">
          <input type="submit" value="Synchronize promotions"
                 style="transition-duration: 0.4s; background-color: #44b6ae; color: white; border: none; padding: 15px 32px; text-align: center; margin: 15px auto;">
        </form>
      </td>
      <td>
        <form action="/promotions/" method="post">
          {% csrf_token %}
          <input type="hidden" name="type" value="news">
          <input type="submit" value="Synchronize news"
                 style="transition-duration: 0.4s; background-color: #e08283; color: white; border: none; padding: 15px 32px; text-align: center; margin: 15px auto;">
        </form>
      </td>
    </tr>
    <tr>
      <td>Logs from last promotions synchronization:</td>
      <td>Logs from last news synchronization:</td>
    </tr>
    <tr>
      <td valign="top">
        <pre style="max-width: 80%; margin-top: 20px;">{{ file_promo }}</pre>
      </td>
      <td valign="top">
        <pre style="margin-top: 20px;">{{ file_news }}</pre>
      </td>
    </tr>
  </table>
{% endblock %}