{% extends "sizeof_cpanel/base.html" %}
{% load i18n crispy_forms_filters widget_tweaks %}


{% block container %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Please Sign In" %}</h3>
                    </div>
                    <div class="panel-body">
                        {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
                        <p class="alert alert-danger">
                            {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                        </p>
                        {% endif %}
                        {% if form.non_field_errors or form.this_is_the_login_form.errors %}
                        {% for error in form.non_field_errors %}
                        <p class="alert alert-danger">
                            {{ error }}
                        </p>
                        {% endfor %}
                        {% endif %}
                        <form role="form" method="post" action="{% url "userena_signin" %}">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                                    {% render_field form.username|attr:"autofocus" class="form-control" autocomplete="off" value="" placeholder=form.username.label %}
                                </div>
                                {% if form.username.errors %}
                                    <p class="alert alert-warning">
                                    {% for error in form.username.errors %}
                                        {{ error }}
                                    {% endfor %}
                                    </p>
                                {% endif %}

                                <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                                    {% render_field form.password|attr:"autofocus" type="password" value="" class="form-control" autocomplete="off" placeholder=form.password.label %}
                                </div>
                                {% if form.password.errors %}
                                    <p class="alert alert-warning">
                                    {% for error in form.password.errors %}
                                        {{ error }}
                                    {% endfor %}
                                    </p>
                                {% endif %}
{#                                <div class="checkbox">#}
{#                                    <label>#}
{#                                        <input name="remember" type="checkbox" value="Remember Me">{% trans "Remember Me" %}#}
{#                                    </label>#}
{#                                </div>#}
{#                                <a href="{% url "password_reset" %}">{% trans "I forgot my password" %}</a>#}
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="{% trans 'Log in' %}"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block js %}#}
{#    {{ block.super }}#}
{#    <script type="application/javascript">#}
{#        $(document).ready(function(){#}
{##}
{#        })#}
{#    </script>#}
{#{% endblock %}#}
