{% extends "base.html" %}
{% load i18n %}

{% block page-header-title %}
    {% trans "Change password" %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li><a href="{% url "dashboard:home" %}">{% trans "Panel" %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans "Change password" %}</li>
    </ul>
{% endblock %}