{% extends "base.html" %}
{% load i18n %}

{% block full-breadcrumb %}
{% endblock %}

{% block container %}

    <p class="alert alert-info">{% trans "Your password has been set. You may go ahead and log in now." %}</p>

    <p class="well"><a href="{% url "login" %}">{% trans 'Log in again' %}</a></p>

{% endblock %}
