{% extends "base.html" %}
{% load i18n %}

{% block full-breadcrumb %}
{% endblock %}

{% block container %}

    <p>{% trans "Please specify your email address to receive instructions for resetting it" %}</p>

    <form action="" method="post" class="form-search">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        {{ form.email.errors }}
        <p><label for="id_email">E-mail address:</label> {{ form.email }}
            <input type="submit" value="Reset password" class="btn btn-primary" /></p>
    </form>

{% endblock %}