{% extends "registration/password_change.html" %}
{% load i18n crispy_forms_filters %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
                <p class="alert alert-danger">
                    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                </p>
            {% endif %}

            {% if form.non_field_errors or form.this_is_the_login_form.errors %}
                {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
                    <p class="alert alert-danger">
                        {{ error }}
                    </p>
                {% endfor %}
            {% endif %}
            <form action="{% url "password_change" %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    {{ form|crispy }}
                </div>
                <div class="submit-row">
                    <input type="submit" value="{% trans 'Change password' %}" class="btn btn-primary" />
                </div>
            </form>
        </div>
     </div>

{% endblock %}