{% extends "base.html" %}
{% load i18n %}

{% block full-breadcrumb %}
{% endblock %}

{% block container %}

    {% if validlink %}
        <p>{% trans "Please enter your new password twice." %}</p>

        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">{% trans "New password" %}:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">{% trans "Confirm password" %}:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="{% trans "Change my password" %}"  class="btn btn-primary" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>{% trans "Password reset unsuccessful" %}</h1>
        <p>{% trans "The password reset link was invalid." %}
        <p>{% trans "Please request a new password reset." %}</p>
    {% endif %}

{% endblock %}