{% extends "base.html" %}
{% load i18n %}

{% block full-breadcrumb %}
{% endblock %}

{% block container %}

    <p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted." %}</p>
    <p>{% trans "You should be receiving it shortly." %}</p>

{% endblock %}