{% extends "base.html" %}
{% load i18n %}

{% block page-header-title %}
{% endblock %}

{% block content %}
<style>
    .grey_bg{
        background-color: #f5f5f5;
    }
    .collapse.in{
        display: table-row-group;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
        {% trans "Cache refresh" %}
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="">{% trans "Home" %}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{% trans "Cahce refresh" %}</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <a href="/cache/refresh/" class="btn btn-default">Cache refresh</a>
        {% if sync %}
            <h3>{% trans 'Synced' %}!</h3>
        {% elif last_update %}
             <h4>{% trans 'Last updated: ' %}{{ last_update }}</h4>
        {% endif %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% endblock %}