{% extends "base.html" %}
{% load i18n crispy_forms_filters widget_tweaks %}

{% block page-header-title %}{% trans "Sign in" %}{% endblock %}

{% block branding %}{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block full-breadcrumb %}{% endblock %}

{% block footer %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block page-header %}{% endblock %}

{% block page-container %}

    <div class="logo">
        <a href="http://www.sizeof.pl/pl/">
            <img alt="" src="{{ STATIC_URL }}sizeof_cpanel_v2/admin/layout/img/logo-big.png">
        </a>
    </div>

    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form method="post" action="{% url "login" %}" class="login-form" novalidate="novalidate">
            {% csrf_token %}
            <h3 class="form-title">{% trans "Login to your account" %}</h3>

            {% if form.non_field_errors or form.this_is_the_login_form.errors %}
                <div class="alert alert-danger">
                    <button data-close="alert" class="close"></button>
                    {% for error in form.non_field_errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>

                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    {% trans "Username" as username %}
                    {% render_field form.username placeholder=username autocomplete="off" class="form-control placeholder-no-fix" %}
                </div>
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <span for="username" class="help-block">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                <label class="control-label visible-ie8 visible-ie9">{% trans "Password" %}</label>

                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    {% trans "Password" as password %}
                    {% render_field form.password placeholder=password autocomplete="off" class="form-control placeholder-no-fix" %}
                </div>
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <span for="password" class="help-block">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-actions">
                <button class="btn green pull-right" type="submit">
                    {% trans "Login" %} <i class="m-icon-swapright m-icon-white"></i>
                </button>
                <br/>
            </div>

            <div class="forget-password">
                <h4>{% trans "Forgot your password ?" %}</h4>

                <p>
                    {% url 'password-reset' as password_reset_url  %}
                    {% blocktrans %}
                    no worries, click <a id="forget-password" href="{{ password_reset_url }}">
                    here </a>
                    to reset your password.
                    {% endblocktrans %}
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->

    </div>
    <div class="copyright">
        <a href="http://www.sizeof.pl/pl/">
            2010 - 2014 &copy; SIZEOF.PL :: {% trans "Tools for Business" %}
        </a>
    </div>

{% endblock %}

{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}sizeof_cpanel_v2/admin/pages/css/login.css">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}sizeof_cpanel_v2/admin/pages/scripts/login.js">
        <
        script
        type = "text/javascript" >
                jQuery(document).ready(function () {
                    Layout.init(); // init current layout
                    Login.init();
                });
    </script>
{% endblock %}
