{% extends 'base.html' %}
{% load i18n %}
{% load core_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load bookmark_tags %}


{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Main page" "/" %}
    {% breadcrumb "Bookmarks" '/' %}
{% endblock %}

{% block content-title %}
{% trans "Bookmarks" %}
{% endblock %}


{% block content %}
	<div class="margin-bottom-20">
        <ul>
        {% bookmark by user as user_bookmark %}
        {% for bookmark in user_bookmark %}
            <a href="{{ bookmark.content_object.get_absolute_url }}">{{bookmark.content_object}}</a>
        {% empty %}
            <li>{% trans "No bookmark found." %}</li>
        {% endfor %}
        </ul>
	</div>
{% endblock %}