{% load i18n %}


{% if form %}
    {% if user.is_authenticated %}
        <form action="{% url 'bookmark:bookmark' %}" method="post" accept-charset="UTF-8" class="bookmark_form" style="display: inline;">
            {% csrf_token %}
            {{ form }}
            {% with form.bookmark_exists as exists %}
                {# another hidden input is created to handle javascript submit event #}
                <input class="bookmark_toggle btn btn-primary" type="submit" value="{% trans "Add to bookmark" %}"{% if exists %} style="display: none;"{% endif %}/>
                <input class="bookmark_toggle btn btn-primary" type="submit" value="{% trans "Remove from bookmark" %}"{% if not exists %} style="display: none;"{% endif %}/>
            {% endwith %}                
            <span class="error" style="display: none;">{% trans "Error during process" %}</span>
        </form>
    {% else %}
        <a href="{{ login_url }}?{{ next }}={{ next_url|default:request.get_full_path }}" class="btn btn-default">{% trans "Add to bookmark" %}</a>
    {% endif %}
{% endif %}
