{% extends "rebate/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>{% trans "Rebates list" %}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <!--<a href="#portlet-config" data-toggle="modal" class="config">-->
                    <!--</a>-->
                    <!--<a href="javascript:;" class="reload">-->
                    <!--</a>-->
                    <!--<a href="javascript:;" class="remove">-->
                    <!--</a>-->
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                        <tr>
                            <th>
                                {% trans "Image" %}
                            </th>
                            <th class="hidden-xs">
                                {% trans "Shop" %}
                            </th>
                            <th>
                                {% trans "Content" %}
                            </th>
                            <th>
                                {% trans "Program" %}
                            </th>
                            <th>
                                {% trans "Type" %}
                            </th>
                            <th>
                                {% trans "Segment" %}
                            </th>
                            <th>
                                {% trans "Media group" %}
                            </th>
                            <th>
                                {% trans "Actions" %}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rebate in object_list %}
                        <tr>
                            <!--<td class="highlight">-->
                            <!--<div class="success">-->
                            <!--</div>-->
                            <!--<a href="{% url 'rebate:update' rebate.pk %}">-->
                            <!--{{ rebate.program }}</a>-->
                            <!--</td>-->
                            <td class="hidden-xs" width="150">
                                {% if rebate.image %}
                                <img src="{{ rebate.image.url }}" width="150"/>
                                {% else %}
                                -
                                {% endif %}
                            </td>
                            <td class="hidden-xs">
                                {{ rebate.shop }}
                            </td>
                            <td class="hidden-xs">
                                {{ rebate.content }}
                            </td>
                            <td class="hidden-xs">
                                {{ rebate.type.title|default:'-' }}
                            </td>
                            <td class="hidden-xs">
                                {{ rebate.type.title|default:'-' }}
                            </td>
                            <td class="hidden-xs">
                                {{ rebate.segment|default:'-' }}
                            </td>

                            <td class="hidden-xs">
                            </td>
                            <td>
                                <a href="{% url 'admin:rebate_rebate_change' rebate.pk %}"
                                   class="btn default btn-xs purple"><i class="fa fa-edit"></i> {% trans "Edit" %} </a>
                                <a href="{% url 'admin:rebate_rebate_delete' rebate.pk %}"
                                   class="btn default btn-xs black"> <i class="fa fa-trash-o"></i> {% trans "Delete" %}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
{% endblock %}