{% extends "rebate/base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block page-header-title %}
{% trans "Rebates list" %}
{% endblock %}


{% block content %}
<form action="" role="form" method="get" class="form-inline">
    <input type="hidden" value="1" name="filters"/>
    {% bootstrap_form filters.form layout='inline' %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "search" %} {% trans "Filter list" %}
    </button>
    <a href="{% url " rebate:list" %}" class="btn btn-{% if request.GET.filters %}primary{% else %}default{% endif %}">
    {% bootstrap_icon "trash" %} {% trans "Clear filters" %}
    </a>
    {% endbuttons %}
</form>
<br/><br/>

<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css"/>
{% render_table table %}

{% endblock %}

{% block js %}
{{ block.super }}
<!--<script>-->
<!--jQuery(document).ready(function(){-->
<!--jQuery('#id_age_0').attr('placeholder', 'Age from');-->
<!--jQuery('#id_age_1').attr('placeholder', 'Age to');-->
<!--jQuery('#id_basket_average_value_0').attr('placeholder', 'Average cart value from');-->
<!--jQuery('#id_basket_average_value_1').attr('placeholder', 'Average cart value to');-->
<!--});-->
<!--</script>-->
{% endblock %}
