{% extends 'userena/base_userena.html' %}
{% load i18n %}


{% block content-title %}
{% trans "Account activation failed." %}
{% endblock %}

{% block userena-title %}
{% trans "Your account could not be activated..." %}
{% endblock %}

{% block userena-content %}
<p>{% trans "Your account could not be activated. This could be because your activation link has aged." %}</p>
<p>{% trans "Please try signing up again or contact us if you think something went wrong." %}</p>
{% endblock %}
