{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}


{% block content-title %}
{% trans "Account activation failed." %}
{% endblock %}

{% block userena-title %}
{% trans "Your account could not be activated..." %}
{% endblock %}

{% block content %}
<p>{% trans "Your account could not be activated because activation link is expired." %}</p>
<p><a href="{% url 'userena_activate_retry' activation_key %}">{% trans "Request a new activation link." %}</a></p>
{% endblock %}
