{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}


{% block content-title %}
{% trans "Account re-activation succeeded." %}
{% endblock %}

{% block userena-title %}
{% trans "Account re-activation" %}
{% endblock %}

{% block userena-content %}
<p>{% blocktrans %}You requested a new activation of your account..{% endblocktrans %}</p>
<p>{% blocktrans %}You have been sent an e-mail with an activation link to the supplied email.{% endblocktrans %}</p>
<p>{% blocktrans %}We will store your signup information for {{ userena_activation_days }} days on our server. {% endblocktrans %}</p>
{% endblock %}
