{% extends "base.html" %}


{% block title %}
{% endblock %}

{% block content %}
<h1>{% block userena-title %}{% endblock %}</h1>

<div class="margin-bottom-40">
  <!-- BEGIN SIDEBAR -->
  {#% include 'userena/parts/sidebar.html' %#}
  <!-- END SIDEBAR -->

  <!-- BEGIN CONTENT -->
  <div class="col-md-3 col-sm-3">
      {% block userena-content %}{% endblock %}
  </div>
  <!-- END CONTENT -->
</div>
{% endblock %}