{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load core_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load bookmark_tags %}


{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Main page" "/" %}
    {% breadcrumb "Bookmarks" '/' %}
{% endblock %}

{% block userena-title %}
{% trans "Bookmarks" %}
{% endblock %}


{% block userena-content %}
	<div class="margin-bottom-20">
        <ul class="nav sidebar-categories margin-bottom-10">
        {% bookmark by user as user_bookmark %}
        {% for bookmark in user_bookmark %}
            <li>
                <a href="{{ bookmark.content_object.get_absolute_url }}">{{bookmark.content_object}}</a>
            </li>
        {% empty %}
            <li>{% trans "No bookmark found." %}</li>
        {% endfor %}
        </ul>
	</div>
{% endblock %}