{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load url from future %}


{% block content-title %}
{% trans "Disabled account" %}
{% endblock %}

{% block userena-title %}
{% trans "Your account has been disabled" %}
{% endblock %}

{% block userena-content %}
<p>{% trans "It seems your account has been disabled." %}</p>
<p>{% trans "If you feel that injustice has been done to you, feel free to contact the administrators to find out why" %}</p>
{% endblock %}