{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load url from future %}


{% block content-title %}
{% trans "Email verification failed." %}
{% endblock %}

{% block userena-title %}
{% trans "Your email could not be verified..." %}
{% endblock %}

{% block userena-content %}
<p>{% trans "Your email could not be verified..." %}</p>
<p>{% trans "You could try changing it again in your account settings." %}</p>
{% endblock %}