{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load url from future %}


{% block content-title %}
{% trans "Reset Password" %}
{% endblock %}

{% block userena-title %}
{% trans "Reset password" %}
{% endblock %}

{% block userena-content %}
<form method="post" action="" role="form" class="form-horizontal form-without-legend">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button class="btn btn-primary" type="submit">{% trans "Send password" %}</button>
  {% endbuttons %}
</form>
{% endblock %}