{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load url from future %}


{% block content-title %}
{{ profile.user.username }}'s {% trans "profile" %}.
{% endblock %}

{% block userena-title %}
{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}
{% endblock %}

{% block userena-content %}
<img src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
{% if profile.user.get_full_name %}
<p><strong>{% trans "Name" %}</strong><br /> {{ profile.user.get_full_name }}</p>
{% endif %}
{% if profile.age != 0 %}
<p><strong>{% trans "Age" %}</strong><br /> {{ profile.age }}</p>
{% endif %}
{% if profile.website %}
<p><strong>{% trans "Website" %}</strong><br /> <a href="{{ profile.website }}">{{ profile.website }}</a></p>
{% endif %}
{% if profile.location %}
<p><strong>{% trans "Location" %}</strong><br />{{ profile.location }}</p>
{% endif %}
{% if profile.about_me %}
<p><strong>{% trans "About me" %}</strong><br />{{ profile.about_me }}</p>
{% endif %}
{% if profile.imei %}
<p><strong>{% trans "Your phone ID (IMEI)" %}</strong><br />{{ profile.imei }}</p>
{% endif %}
{% endblock %}