{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load url from future %}


{% block page-header-title %}
{% trans "Signin" %}
{% endblock %}

{% block userena-title %}
{% trans "Login" %}
{% endblock %}

{% block userena-content %}
<form method="post" action="" role="form" class="form-horizontal form-without-legend">
  {% csrf_token %}
  {% bootstrap_form form layout='inline' %}
  {% buttons %}
    <button class="btn btn-primary" type="submit">{% trans "Signin" %}</button>
    <!--<a  class="btn btn-default" href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a>-->
    {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
  {% endbuttons %}
</form>
{% endblock %}