{% extends 'userena/base_userena.html' %}
{% load i18n %}


{% block content-title %}
{% trans "Signup almost done!" %}
{% endblock %}

{% block userena-title %}
{% trans "Signup" %}
{% endblock %}

{% block userena-content %}
<p>{% trans "Thank you for signing up with us!" %}</p>
{% if userena_activation_required %}
<p>{% blocktrans %}You have been sent an e-mail with an activation link to the supplied email.{% endblocktrans %}</p>
<p>{% blocktrans %}We will store your signup information for {{ userena_activation_days }} days on our server. {% endblocktrans %}</p>
{% else  %}
<p>{% blocktrans %}You can now use the supplied credentials to signin.{% endblocktrans %}</p>
{% endif %}
{% endblock %}
