{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load url from future %}


{% block content-title %}
{% trans "Signed out" %}
{% endblock %}

{% block userena-title %}
{% trans "You have been signed out" %}
{% endblock %}

{% block userena-content %}
<p>{% trans "You have been signed out. Till we meet again." %}</p>
<p class="well"><a href="{% url "userena_signin" %}">{% trans 'Log in again' %}</a></p>
{% endblock %}