{% load i18n %}

<li class="dropdown dropdown-user">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <i class="fa fa-user fa-fw"></i>
    <span class="username">
    {{ user.username }} - {{ user.get_full_name }} </span>
    <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'userena_profile_detail' user.username %}"><i class="fa fa-user fa-fw"></i> {% trans 'Account' %} ({{ user.username }})</a></li>
        <li><a href="{% url 'userena_password_change' user.username %}"><i class="fa fa-lock fa-fw"></i> {% trans "Change password" %}</a></li>
        <li><a href="{% url 'userena_signout' %}" class="fa fa-sign-out fa-fw"> {% trans 'Signout' %} </a></li>
    </ul>
</li>

