{% extends 'base.html' %}
{% load static i18n bootstrap3 endless %}


{% block side-menu %}
    {% include 'parts/side-menu.html' with active='tags:import-create' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}ws/js/jquery-1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ws/js/ws4redis.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/progressbar.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            var circle = new ProgressBar.Line('#progressbar', {
                color: '#FCB03C',
                strokeWidth: 3,
                trailWidth: 1,
                duration: 500,
                text: {
                    value: '0',
                    color: '#000'
                },
                from: { color: '#FCB03C' },
                to: { color: '#dff0d8' },
                step: function(state, bar) {
                    bar.setText((bar.value() * 100).toFixed(0) + '%');
                    bar.path.setAttribute('stroke', state.color);
                }
            });

            var full = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '')
            full = full.replace('http', 'ws');

            var ws4redis = WS4Redis({
                uri: full + '/ws/import-task-for-{{ object.pk }}?subscribe-broadcast&publish-broadcast',
                receive_message: receiveMessage,
                heartbeat_msg: "--heartbeat--"
            });

            // receive a message though the Websocket from the server
            function receiveMessage(msg) {
                console.log($(msg).find('.percentage').val());
                $('#billboard').show();
                $('#billboard').html(msg);
                var percentage = $('#billboard').find('.percentage');
                if (percentage.length) {
                    var value = parseInt($('#billboard').find('.percentage').html()) / 100;
                    circle.animate(value);
                }
            }
        });
</script>
{% endblock %}

{% block page-header-title %}
    Rolls Importer &raquo; Import Task for file <strong>{{ object }}</strong>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-condensed table-bordered">
                <tr>
                    <th width="10%">{% trans "#ID" %}</th>
                    <th>{% trans "Imported By" %}</th>
                    <th>{% trans "File" %}</th>
                    <th>{% trans "Created at" %}</th>
                    <th>{% trans "Updated at" %}</th>
                    <th>{% trans "Status" %}</th>
                </tr>
                <tr>
                    <td width="10%"># {{ object.pk }}</td>
                    <td>{{ object.user }}</td>
                    <td>{{ object.file }}</td>
                    <td>{{ object.created_at }}</td>
                    <td>{{ object.updated_at }}</td>
                    <td id="task-for-import-{{ row.pk }}" style="width: 600px;">
                        {% if object.message or object.error %}
                            <div>
                                {% if object.message %}
                                    <div style="color: green">
                                        {{ object.message }}
                                    </div>
                                {% endif %}
                                {% if object.error %}
                                    <div style="color: red">
                                        {% trans "Errors" %}:<br/>
                                        {{ object.error|safe }}
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            <div id="billboard">-</div>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        {% if not object.message and not object.error %}
            <div class="col-lg-12">
                <div id="progressbar"></div>
            </div>
        {% endif %}
    </div>
{% endblock %}