{% extends 'base.html' %}
{% load static i18n bootstrap3 endless %}


{% block side-menu %}
    {% include 'parts/side-menu.html' with active='tags:import-create' %}
{% endblock %}

{% block page-header-title %}
    Tags Importer
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Import tagów
                </div>
            </div>

            <div id="billboard" class="alert alert-success" style="display: none;"></div>

            <div class="well">Importer nie usuwa danych w bazie. Istniejące rekordy są pomijane.</div>

            <form class="" method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form layout='vertical' %}
                {% buttons %}
                    <button type="submit" class="btn btn-warning">
                        <i class="fa fa-bar-chart-o"></i> Dodaj do importu
                    </button>
                {% endbuttons %}
            </form>

            {% if objects %}
                <h3>Import list</h3>
                <table class="table table-condensed table-bordered">
                <tr>
                    <th width="10%">{% trans "#ID" %}</th>
                    <th>{% trans "Imported By" %}</th>
                    <th>{% trans "File" %}</th>
                    <th>{% trans "Created at" %}</th>
                    <th>{% trans "Updated at" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Task" %}</th>
                </tr>
                {% for row in objects %}
                    <tr>
                        <td width="10%"># {{ row.pk }}</td>
                        <td>{{ row.user }}</td>
                        <td>{{ row.file }}</td>
                        <td>{{ row.created_at }}</td>
                        <td>{{ row.updated_at }}</td>
                        <td>{% if row.message %}{{ row.message }}{% endif %}</td>
                        <td id="task-for-import-{{ row.pk }}">
                            <a class="btn btn-primary btn-sm" href="{% url "tags:import-task" row.pk %}">{% if not row.task %}{% trans "Run Import Task" %}{% else %}{% trans "details" %}{% endif %}</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <th colspan="5">{% trans "No imports." %}</th>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}