{% extends "shop/base.html" %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Sellers
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <!--<a href="#portlet-config" data-toggle="modal" class="config">-->
                        <!--</a>-->
                        <!--<a href="javascript:;" class="reload">-->
                        <!--</a>-->
                        <!--<a href="javascript:;" class="remove">-->
                        <!--</a>-->
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                        <tr>
                            <th>
                                <i class="fa fa-briefcase"></i> Shop
                            </th>
                            <th class="hidden-xs">
                                <i class="fa fa-user"></i> Seller
                            </th>
                            <th class="hidden-xs">
                                <i class="fa fa-user"></i> Email
                            </th>
                            <th class="hidden-xs">
                                <i class="fa fa-user"></i> Mobile
                            </th>
                            <th>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for seller in object_list %}
                            <tr>
                                <td class="highlight">
                                    <div class="success">
                                    </div>
                                    <a href="{% url 'admin:shop_seller_change' seller.pk %}">
                                    {{ seller.shop }}</a>
                                </td>
                                <td class="hidden-xs">
                                     {{ seller.first_name }} {{ seller.last_name }}
                                </td>
                                <td class="hidden-xs">
                                     {{ seller.email }}
                                </td>
                                <td class="hidden-xs">
                                     {{ seller.mobile_number }}
                                </td>
                                <td>
                                    <a href="{% url 'admin:shop_seller_change' seller.pk %}" class="btn default btn-xs purple"><i class="fa fa-edit"></i> Edit </a>
                                    <a href="{% url 'admin:shop_seller_delete' seller.pk %}" class="btn default btn-xs black"> <i class="fa fa-trash-o"></i> Delete </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
{% endblock %}