{% load i18n %}


<ul class="page-sidebar-menu" data-auto-scroll="false" data-auto-speed="200">
    <li class="start {% if not active %}active{% endif %}">
        <a href="/">
        <i class="fa fa-home"></i>
        <span class="title">{% trans "Main page" %}</span>
        <span class="selected"></span>
        </a>
    </li>

    {% comment %}
    {% if perms.app.check_card %}
    <li {% if active == 'member-create' %}class="active"{% endif %}>
        <a href="{% url 'operator:member-create' %}"><i class="fa fa-user fa-fw"></i> {% trans "New member"%}</a>
    </li>
    {% endif %}

    {% if perms.app.purchase_registration %}
    <li {% if active == 'purchase-registration' %}class="active"{% endif %}>
        <a href="{% url 'operator:purchase-registration' %}"><i class="fa fa-bookmark-o fa-fw"></i> {% trans "Rejestracja zakupów" %}</a>
    </li>
    {% endif %}

    {% if perms.app.check_winning %}
    <li {% if active == 'check-winning' %}class="active"{% endif %}>
        <a href="{% url 'operator:check-winning' %}"><i class="fa fa-edit fa-fw"></i> {% trans "Winning check" %}</a>
    </li>
    {% endif %}

    {% if perms.app.rabatomat_statistics %}
    <li {% if active == 'current-stats' %}class="active"{% endif %}>
        <a href="{% url 'manager:current-stats' %}"><i class="fa fa-table fa-fw"></i> {% trans "Current statistics" %}</a>
    </li>
    {% endif %}

    {% if perms.app.daily_statistics %}
    <li {% if active == 'daily-stats' %}class="active"{% endif %}>
        <a href="{% url 'manager:daily-stats' %}"><i class="fa fa-bar-chart-o"></i> {% trans "Daily statistics" %}</a>
    </li>
    {% endif %}

    {% if perms.app.download_reports %}
    <li {% if active == 'report:reports' %}class="active"{% endif %}>
        <a href="{% url 'report:reports' %}"><i class="fa fa-align-justify"></i> {% trans "Reports" %}</a>
    </li>
    {% endif %}

    {% if perms.app.purchase_registration %}
    <li {% if active == 'purchase:list' %}class="active"{% endif %}>
        <a href="{% url 'purchase:list' %}"><i class="fa fa-dollar"></i> {% trans "Purchase list" %}</a>
    </li>
    {% endif %}

    {% if perms.app.purchase_registration %}
    <li {% if active == 'rebate:list' %}class="active"{% endif %}>
        <a href="{% url 'rebate:list' %}"><i class="fa fa-retweet"></i> {% trans "Rebates list" %}</a>
    </li>
    {% endif %}
    {% endcomment %}

    {% if user.is_superuser %}
    <li>
        <a href="{% url 'admin:index' %}"><i class="fa fa-desktop"></i> {% trans "Administration"%}</a>
    </li>
    {% endif %}
</ul>