{% extends "base.html" %}
{% load i18n %}

{% block page-header-title %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
        {% trans "Backup" %} <small>{% trans "media files" %}</small>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if path %}
        <h3>{% trans "Backup file can be found here:" %}</h3>
        <pre>{{ path }}</pre>
        {% endif %}
        <h5>{% trans "Command output" %}</h5>
        <pre>
        {{ output }}
        </pre>
    </div>

</div>
{% endblock %}