{% extends "map/base.html" %}
{% load i18n %}

{% block side-menu %}
    {% include 'parts/side-menu.html' with active='map-editor' %}
{% endblock %}

{% block page-header-title %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
         {% include "map/includes/swf.html" %}
        </div>
    </div>
{% endblock %}