{% extends "verifier/base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>{% trans "Are you sure, that you want to delete this record?" %}</h2>
        <form class="form-horizontal" role="form" method="post" action="">
            {% csrf_token %}
            <div class="form-actions fluid">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn red">{% trans "Delete" %}</button>
                    <a href="{% url 'verifier:list' %}" class="btn default">{% trans "Cancel" %}</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}