{% extends "verifier/base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>{% trans "Verifiers" %}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <!--<a href="#portlet-config" data-toggle="modal" class="config">-->
                    <!--</a>-->
                    <!--<a href="javascript:;" class="reload">-->
                    <!--</a>-->
                    <!--<a href="javascript:;" class="remove">-->
                    <!--</a>-->
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                        <tr>
                            <th>
                                <i class="fa fa-briefcase"></i> {% trans "Shop" %}
                            </th>
                            <th class="hidden-xs">
                                <i class="fa fa-user"></i> {% trans "Imei" %}
                            </th>
                            <th>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for verifier in object_list %}
                        <tr>
                            <td class="highlight">
                                <div class="success">
                                </div>
                                <a href="{% url 'admin:verifier_verifier_change' verifier.pk %}">
                                    {{ verifier.shop }}</a>
                            </td>
                            <td class="hidden-xs">
                                {{ verifier.imei }}
                            </td>
                            <td>
                                <a href="{% url 'admin:verifier_verifier_change' verifier.pk %}"
                                   class="btn default btn-xs purple"><i class="fa fa-edit"></i> {% trans "Edit" %} </a>
                                <a href="{% url 'admin:verifier_verifier_delete' verifier.pk %}"
                                   class="btn default btn-xs black"> <i class="fa fa-trash-o"></i> {% trans "Delete" %}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
{% endblock %}