{% extends "verifier/base.html" %}
{% load bootstrap3 %}
{% load i18n %}


{% block page-header-title %}
Edit <i>{{ object }}</i>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form class="" role="form" method="post" action="">
            {% csrf_token %}
            <div class="form-body">
                {% bootstrap_form form %}
            </div>
            <div class="form-actions fluid">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn red">{% trans "Save" %}</button>
                    <a href="{% url 'verifier:list' %}" class="btn default">{% trans "Cancel" %}</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}