{% extends "base.html" %}
{% load i18n %}

{% block page-header-title %}
Websocket Console
{% endblock %}

{% block content %}
    <style>
        #billboard {
            line-height: 15px;
            padding: 10px;
            margin: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            color: white;
            border: solid 2px green;
            font-size: 13px;
            font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
            min-height: 1000px;
        }
    </style>
    <script type="text/javascript" src="{{ STATIC_URL }}websocket/scripts/jquery-1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}websocket/scripts/ws4redis.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var full = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '')
            full = full.replace('http', 'ws');

            var ws4redis = WS4Redis({
                //uri: 'ws://0.0.0.0:8000/ws/rebate?subscribe-broadcast&publish-broadcast',
                //uri: 'ws://dev-rabatomat.sizeof.pl/ws/rebate?subscribe-broadcast&publish-broadcast',
                uri: full + '/ws/rebateceo?subscribe-broadcast&publish-broadcast',
                receive_message: receiveMessage,
                heartbeat_msg: "--heartbeat--"
            });

            // send message though the Websocket to the server
            $('#send_message').click(function () {
                var value = $('#text_message').val();
                ws4redis.send_message(value);
            });

            // receive a message though the Websocket from the server
            function receiveMessage(msg) {
                console.log(msg);
                $('#billboard').append('<br/>' + msg + '<br/>');
            }
        });
    </script>

    <div id="billboard"></div>
{% endblock %}